qdrant-client
sentence-transformers
nltk
jsonschema  
pypdf
langchain-community
langchain
fastapi==0.109.2
uvicorn[standard]
pydantic-settings
requests
python-dotenv
structlog
slowapi
prometheus-client
starlette-prometheus
langgraph
openai